{% extends "dashmin/base.html" %}
{% load i18n %}
{% block page %}
<form method="POST" class="wizard has-background-white" onsubmit="handleSubmit(event)">
  {% csrf_token %}
  <div class="wizard-header">
    <a><i class="ph ph-x"></i></a>
    <div style="flex: 1"></div>
    <h3 class="title is-5" style="margin: 0;">{% block wizard_title %}{% endblock %}</h3>
    <div style="flex: 1"></div>
  </div>
  <div class="wizard-content" style="margin: 0.75rem;">
    <div class="is-size-5">
      {% block wizard_content %}{% endblock %}
    </div>
  </div>
  <div class="wizard-footer">
    {% block wizard_footer %}{% endblock %}
  </div>
</form>
{% endblock %}
